@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  font-size: 16px;
}

p {
  line-height: 1.5;
}

button {
  cursor: pointer;
}

section {
  background-color: rgb(245, 245, 245);
  transition: all 250ms ease;
}

input, textarea {
  width: 100%;
  background-color: inherit;
  color: inherit;
  outline: none;  
  border: none;
  border-bottom: 1px solid #c0c4cc;
  height: 40px;
  transition: all 250ms ease;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input:hover, textarea:hover {
  border-color: #dcdfe6;
  
}

input:focus, textarea:focus {
  border-color: rgb(0, 132, 255);
  
}

.click {
  cursor: pointer;
  transition: all 150ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.9);
}

.blue {
  color: rgb(0, 132, 255);
}

.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}





.container {
  padding: 64px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0%;
  right: 0;
  background-color: black;
  transition: all 300ms ease;
}

.link__hover-effect--white::after {
  background-color: white;
}

.link__hover-effect--black::after {
  background-color: black;
}


.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

nav,
.scroll,
.header {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 800ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms 200ms;
}

.dark-theme .title, 
.dark-theme .section__title,
.dark-theme .section__subtitle,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para {
  color: #fff;
  
}

.dark-theme section {
  background-color: #242424;
}

.dark-theme #personal-logo {
  filter: invert(1);
}

.dark-theme .scroll__icon {
  border-color: white;
}

.dark-theme .scroll__icon::after {
  background-color: white;
}

.dark-theme .mail__btn {
  background-color: white;
  color: #242424;
}

.dark-theme .link__hover-effect--black::after {
  background-color: white;
}



/* LANDING PAGE  */

#landing-page {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
}

.header h5 {
  font-size: 14px;
  color: #24242460;
  font-weight: 500;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 750px;
 
}


.socials {
  margin-top: 16px;
  display: flex;
  
}

.socials__links {
  background-color: rgb(0, 132, 255);
  color: white;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 16px;
  margin-right: 12px;
  border-radius: 50%;
  
}

.header__para span,
a {
  font-weight: 600;
  text-decoration: none;
}

.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  color: white;
  position: fixed;
  bottom: 32px;
  right: 40px;
  z-index: 1;
  
  box-shadow: 0 12px 40px 0 rgb(0, 0, 0, 0.25);
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon::after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}



@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
}

#personal-logo {
  height: 100px;
  margin-left: -33%;
  margin-top: 10px;
}

.nav__link--list {
  display: flex;
  
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}



.fa-sun,
.fa-moon {
  font-size: 24px; 
  position: absolute;
  
}

.dark {
  opacity: 0;
}

.light {
  opacity: 1;
}

.dark-theme .dark {
  opacity: 1;
}

.dark-theme .light {
  opacity: 0;

} 


.toggle {
  transition: opacity 500ms ease;
}


/* MODAL */

.modal--open .modal{
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.25);
  visibility: visible;
}

.modal  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 1000px;
  height: 700px;  
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal__about, 
.modal--open .modal__contact {
transform: translateY(0%);
}


.modal__half {
  position: relative;
  
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 300ms ease-in;
}

.modal__about {
  background-color: rgb(245, 245, 245);
  transform: translateY(-110%)
}

.modal__languages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 16px 0;
  justify-content: center;
}

.modal__language {
  width: 25%;  
  height: 89px;
  padding: 16px;
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items: center;
  transition: all 250ms ease;
  
}

.modal__language:hover .language__name {
  transform: scale(1);
}

.modal__language:hover {
  filter: brightness(90%);
  transform: scale(0.95);
}

.language__name {
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition:  all 250ms ease;
}

.modal__language--img {
  width: 100%;
  
}

.modal__contact {
  background-color: #242424;
  color: white;
  transform: translateX(110%);
}

.modal__title {
  font-size: 24px;
  font-weight: 700;
}

.modal__subtitle {
  margin: 20px 0 16px 0;
  font-size: 14px;
}

.modal__para {
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 1.75;
  margin: 0 auto;
}

.modal__para span {
  font-weight: 600;
  
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  background-color:rgb(0, 132, 255);
  border: 2px solid rgb(0, 132, 255);
  color: white;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  font-size: 20px;
  padding: 12PX 24PX;
  transition: all 250ms ease;
}

.form__submit:hover {
  border-color: white;
  background-color: transparent;
}

.form__submit:active {
  border-color: rgb(0, 132, 255);
  color: rgb(0, 132, 255);
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal__overlay--loading {
  background-color: #242424;  
  font-size: 80px;
  z-index: -1;
}

.modal__overlay--success {
  background-color: limegreen;
  font-size: 40px; 
  font-weight: 700;
  text-align: center;
  padding: 24px;
  z-index: -1;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 1000ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }

}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
}

/* PROJECTS */

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 64px;
}

.project {
  margin: 128px auto;
  width: 90%;
}

.project__img {
  width: 100%;
  height: 500px;
  object-fit:cover;
  transition: all 600ms ease;
}

.project__wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  color: white;
  max-width: 550px;
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
}

.project__description--title {
  font-size: 40px;
}

.project__description--subtitle {
  margin: 8px auto;
}

.project__description--link {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}

.project__description--para {
  margin: 16px auto;
}

/* FOOTER */

footer {
  position: relative;
  background-color: #242424;
  display: flex;
  padding: 6% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo--img {
  
  height: 100px;
  filter: invert(1);
}

.footer__social--list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 512px;
  margin: 32px 0;
}

.footer__social--link,
.footer__copyright {
  color: white;
  text-align: center;
}


/* shapes */

.shape {
  position: fixed;
  
}

.shape--0 {
  top: 15vh;
  left: 5vw;
}

.shape--1 {
  top: 15vh;
  left: 50vw;
}
 
.shape--2 {
  top: 15vh;
  left: 80vw;
}
 
.shape--3 {
  top: 50vh;
  left: 5vw;
}
 
.shape--4 {
  top: 50vh;
  left: 50vw;
  
}
 
.shape--5 {
  top: 50vh;
  left: 80vw;
}
 
.shape--6 {
  top: 80vh;
  left: 5vw;
}
 
.shape--7 {
  top: 80vh;
  left: 50vw;
}
 
.shape--8 {
  top: 80vh;
  left: 80vw;
}
 

 

/* SMALL PHONES, TABLETS, LARGE SMART PHONES  */
/* Learn clamp! */

@media (max-width: 768px) {
  #personal-logo {
    height: 50px;
  }
  
  .title {
    font-size: 80px;
  }

  .header__para {
    font-size: 20px;
  }

  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .modal__half {
    width: 100%;
    
  }

  .modal__contact {
    transform: translateY(-110%);
    
  }

  .modal__about {
    transform: translateY(110%);
  }

}
/* Small phones  */
@media (max-width: 480px) {
  .title {
    font-size: 52px;

  }
  .header__para {
    font-size: 18px;
  }

  .nav__link:first-child {
    display: none;
  }

  .project__description--para {
    display: none;

  }

  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .project__description--subtitle {
    margin-bottom: 8px;
  }

  .modal__half {
    padding: 40px;
    
  }
  
}